body{
	background-color: black;
	background-image: url(img/po.JPEG);
		background-size: auto;
		  background-repeat: no-repeat;
		background-position: 50px 100px;
		 font-family: arial;
    	font-size: 15px;
			max-width:1300px;


}





h1 {
	position: relative;
	left:100px;
	top:200px;
	color: antiquewhite;
	
	
	
	
}	

a:link {
        color: #fff;
	  text-decoration: none;
	background: white;
	padding: 25px;
	border-radius: 20px;
}
