body{
	background-color: black;
	background-image: url(img/cc.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center ;
		 font-family: arial;
    	font-size: 15px;
			max-width:1300px;


}


h1{
	float: left;
	position: relative;
	left: 200px;
	top:200px;
}


h2{
	float: right;
	position: absolute;
	right:100px;
	bottom: 150px; 
	
 }
